@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

:root {
    /* fonts  */
--font-main: "Libre Franklin", "Franklin Gothic Medium", Arial, sans-serif;
--font-wt-bodytext: 300;
--font-wt-buttons: 600;
--font-wt-gray-hdg: 300;
--font-wt-headings: 700;

    /* colors  */ 
--blue: hsl(223, 87%, 63%);
--pale-blue: hsl(223, 100%, 88%);
--light-red: hsl(354, 100%, 66%);
--gray: hsl(0, 0%, 59%);
--very-dark-blue: hsl(209, 33%, 12%);
}

/* general  */
body {
    font-family: var(--font-main);
    font-size: 1.25rem;
    color: var(--very-dark-blue);
}

h1 {
    font-size: 1.7rem;
    font-weight: var(--font-wt-headings); 
    text-align: center;    
}

p {
    margin-top: -1.5em;
    font-weight: var(--font-wt-bodytext);
    font-size: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover,
a:active {
    color: var(--pale-blue);
}

/* main  */
main {
    margin-top: 4em;
    display: grid;
    gap: 2em;
    justify-items: center;
}

.logo {
    width: 70px;
}

.gray-heading {
    font-weight: var(--font-wt-gray-hdg);
    color: var(--gray);
}

/* form  */
.email-form {
    width: 80%;
}

.screenreader-only {        
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;         
}

.email-input {
    width: 100%;
    height: 3.8em;
    padding: 1em;
    border: 1px solid var(--pale-blue);
    color: var(--very-dark-blue);
    border-radius: 2rem;
}

::placeholder {
    color: var(--gray)
}

.email-input.error {
    border: 2px solid var(--light-red);
}

.error-msg {    
    margin: 0.7em 0 2em 0;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    color: var(--light-red);
}

.submit {
    margin-top: -1em;
    margin-bottom: 2em;
    width: 100%;
    height: 3.5em;
    cursor: pointer;
    font-weight: var(--font-wt-buttons);
    font-size: 0.9rem;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px var(--pale-blue);
}

.submit:hover,
.submit:active {
    background-color: var(--pale-blue);
}

.dashboard-img {
    width: 90%;
}

/* footer  */
footer {
    margin-top: 4em;
    margin-bottom: 1em;
    text-align: center;
}

ion-icon {
    margin: 0.3em;
    font-size: 1.8rem;       
}

.copyright {
    margin-top: 2em;
    font-size: 0.8rem;
    color: var(--gray);
}

.attribution {
    margin-top: 3em;
    font-size: 0.6875rem; 
    text-align: center;
    color: var(--gray);
}

@media (min-width:650px) {

    .logo {
        width: 86px;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .email-form {
        max-width: 600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr; 
        gap: 0.5em; 
        justify-items: center;      
    }

    .email-input {   
        height: 3.8em;
        grid-row: 1;
        grid-column: 1;
    }

    .error-msg {
        grid-row: 2;
        grid-column: 1;
    }

    .submit { 
        margin: 0;      
        height: 3.5em;
        grid-row: 1;
        grid-column: 2;
    }

    .dashboard-img {
        margin-top: 0;
        max-width: 650px;
    }
}

